@import "fonts";
@import "mixins";
@import "variables";

html {
    box-sizing: border-box;
    background: url("#{$images}/audience-background.png") no-repeat center center fixed;
    background-size: cover;
    font-size: 14px;
    height: 100%;
}

*, *:before, *:after {
    box-sizing: inherit;
}

body {
    //font-family: Helvetica, sans-serif;
    font-family: DinCondensedBold, sans-serif;
    position: relative;
    font-size: 1em;
    width: 100%;
    min-height: 100vh;
    //display: flex;
    //flex-direction: column;
}

.outer-container {
    width: 100%;
    min-height: calc(100vh - #{$header-height} - #{$footer-height});
    height: calc(100vh - #{$header-height} - #{$footer-height});

    @media #{$large} {
        position: relative;
        margin: 0 auto;
        max-width: 1135px;
        width: 70.937%;
    }
}

.inner-box {
    width: 100%;
    max-width: 970px;
    height: 63px;
    background: $gnc-black;
    position: relative;
    padding: 13px 20px;
    display: flex;
    align-items: center;

    @media #{$medium} {
        width: $inner-box-width;
    }

}

header {
    height: $header-height;
    background: $gnc-red;
    position: relative;
    display: flex;
}

header, .inner-box {
    border-radius: 1px;
}

.gnc-header-logo {
    height: 100%;
}

.live-nation {
    margin-top: 3px;
    background: url("#{$images}/live-nation.png");
    height: 29px;
    width: 112px;
    margin-left: 23px;
}

.share {
    //Move share icons on top of the header on small screens
    position: absolute;
    right: 5px;
    top: -2px;
    width: 20%;
    height: 100%;
    @include flex-center;

    @media #{$tiny-only} {
        display: none;
    }

    @media #{$medium} {
        width: calc(100% - #{$inner-box-width});
        position: static;
        justify-content: space-around;
    }
}

.fb-icon, .twitter-icon {
    max-width: 40px;
    max-height: 40px;
    display: inline-block;
    height: 100%;
    width: 100%;
    background-repeat: no-repeat;
    background-position: center center;
}

.fb-icon {
    background-image: url("#{$images}/vendor/facebook-icon.png");
    //Compensate for small difference in image size
    background-size: 102%;
}

.share-text {
    color: $white;
    display: none;
    @media #{$large} {
        display: inline-flex;
    }
}

.twitter-icon {
    background-image: url("#{$images}/vendor/twitter-icon.png");
    background-size: 100%;
}

.main-content {
    font-size: 1.5em;
    display: flex;
    flex-direction: column;
    margin-bottom: 35%;
    padding: 0 15px;
    justify-content: space-between;

    @media #{$tiny-only} {
        padding: 0 8px;
    }

    @media #{$large} {
        padding: 0;
        margin-bottom: 0;
        margin-top: 45px;
        flex-direction: row;
    }
}

.ticket-section, .form-section {
    position: relative;
    width: 100%;
    height: 100%;

    @media #{$large} {
        position: relative;
        padding: 0;
        width: 48%;
    }
}

.chance-to-win, .prize-winner {
    margin: 20px 0;
    font-size: 1em;

    @media #{$large} {
        font-size: 1.2em;
    }
}

.ticket-rock {
    margin: 0 auto;
    height: 197px;
    background: url("#{$images}/ticket-to-rock-banner.png") no-repeat center center;
    width: 85%;
    background-size: contain;

    @media #{$large} {
        margin: 0;
        height: 197px;
        background-size: 100%;
    }
}

.prize-list {
    list-style: none;
    padding: 0;
    margin: 0;
}

.prize-item {
    margin: 15px;
    margin-left: 0;
    font-size: .8em;

    @media #{$large} {
        font-size: 1em;
    }
}

.prize-icon {
    background-size: 85%;
    width: 38px;
    height: 38px;
    background-repeat: no-repeat;
    display: inline-block;
    vertical-align: middle;
    margin-right: 5px;

    @media #{$large} {
        background-size: 100%;
    }

    &.ticket {
        background-image: url("#{$images}/icons/airplane-icon.png");
    }
    &.airplane {
        background-image: url("#{$images}/icons/airplane-icon.png");
    }
    &.cash {
        background-image: url("#{$images}/icons/airplane-icon.png");
    }
}

footer {
    height: $footer-height;
    width: 100%;
    background-color: #000;
    position: fixed;
    bottom: 0;
}

.crowd {
    height: 200px;
    width: 100%;
    background: url("#{$images}/crowd.png") repeat no-repeat center bottom;
    background-size: contain;
    position: fixed;
    bottom: calc(#{$footer-height} - 2px);
}

.form-section {
    margin-top: 20px;
    background: $white;
    border-radius: 2px;
    padding: 50px 25px 25px;

    @media #{$large} {
        margin-top: 10px;
    }

}

.input-row {
    display: flex;
    justify-content: space-between;
    flex-direction: column;

    @media #{$large} {
        flex-direction: row;
    }

    &.flex-start {
        justify-content: flex-start;
    }
}

.input-container {
    font-size: .8em;
    text-transform: uppercase;
    position: relative;
    width: 100%;
    display: inline-block;
    margin-bottom: 40px;

    @media #{$large} {
        width: 49%;
    }

    > label {
        position: absolute;
        top: -20px;
    }
    > input {
        width: 100%;
        color: $gnc-black;
        height: 35px;
        background: $gnc-light-grey;
    }
}
