//Base File Paths
$fonts: "../../fonts";
$images: "../../assets/images";

//Colors
$white: #fff;
$gnc-black: #221715;
$gnc-red: #d71920;
$gnc-dark-grey: #7A7C7D;
$gnc-light-grey: #E6E5E6;

//Media Queries
